---
title: List of All Formula 1® Drivers that Have Raced at Watkins Glen
layout: page
collectionName: circuits
collectionId: watkins_glen
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/hill">Graham Hill 🇬🇧</a></td><td>14</td></tr>
<tr><td><a href="/f1/drivers/emerson_fittipaldi">Emerson Fittipaldi 🇧🇷</a></td><td>11</td></tr>
<tr><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/jack_brabham">Jack Brabham 🇦🇺</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/bonnier">Jo Bonnier 🇸🇪</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/surtees">John Surtees 🇬🇧</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/mario_andretti">Mario Andretti 🇺🇸</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/mclaren">Bruce McLaren 🇳🇿</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/hulme">Denny Hulme 🇳🇿</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/stewart">Jackie Stewart 🇬🇧</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/ickx">Jacky Ickx 🇧🇪</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/siffert">Jo Siffert 🇨🇭</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/reutemann">Carlos Reutemann 🇦🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/amon">Chris Amon 🇳🇿</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/gurney">Dan Gurney 🇺🇸</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/beltoise">Jean-Pierre Beltoise 🇫🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/jarier">Jean-Pierre Jarier 🇫🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/peterson">Ronnie Peterson 🇸🇪</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/clark">Jim Clark 🇬🇧</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/mass">Jochen Mass 🇩🇪</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/stuck">Hans-Joachim Stuck 🇩🇪</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/ireland">Innes Ireland 🇬🇧</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/hunt">James Hunt 🇬🇧</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/depailler">Patrick Depailler 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/rodriguez">Pedro Rodríguez 🇲🇽</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/merzario">Arturo Merzario 🇮🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/pace">Carlos Pace 🇧🇷</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/rindt">Jochen Rindt 🇦🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/ginther">Richie Ginther 🇺🇸</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/brambilla">Vittorio Brambilla 🇮🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/lunger">Brett Lunger 🇺🇸</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/cevert">François Cevert 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/sharp">Hap Sharp 🇺🇸</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/pescarolo">Henri Pescarolo 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/oliver">Jackie Oliver 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/bandini">Lorenzo Bandini 🇮🇹</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/hailwood">Mike Hailwood 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/spence">Mike Spence 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/schenken">Tim Schenken 🇦🇺</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/ribeiro">Alex Ribeiro 🇧🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/adamich">Andrea de Adamich 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/bell">Derek Bell 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/daly">Derek Daly 🇮🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/pironi">Didier Pironi 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/gilles_villeneuve">Gilles Villeneuve 🇨🇦</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/rebaque">Hector Rebaque 🇲🇽</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/ganley">Howden Ganley 🇳🇿</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/jabouille">Jean-Pierre Jabouille 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/hall">Jim Hall 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/keke_rosberg">Keke Rosberg 🇫🇮</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/gregory">Masten Gregory 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/lovely">Pete Lovely 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/gethin">Peter Gethin 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/revson">Peter Revson 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/wisell">Reine Wisell 🇸🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/arnoux">René Arnoux 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/stommelen">Rolf Stommelen 🇩🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/bucknum">Ronnie Bucknum 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/pryce">Tom Pryce 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/trevor_taylor">Trevor Taylor 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/hansgen">Walt Hansgen 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/wilson_fittipaldi">Wilson Fittipaldi 🇧🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/bondurant">Bob Bondurant 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/redman">Brian Redman 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/giacomelli">Bruno Giacomelli 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/beaufort">Carel Godin de Beaufort 🇳🇱</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/angelis">Elio de Angelis 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/eaton">George Eaton 🇨🇦</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nilsson">Gunnar Nilsson 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ashley">Ian Ashley 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/lammers">Jan Lammers 🇳🇱</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/surer">Marc Surer 🇨🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/beuttler">Mike Beuttler 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/solana">Moisés Solana 🇲🇽</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/piquet">Nelson Piquet 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/phil_hill">Phil Hill 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/courage">Piers Courage 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/patrese">Riccardo Patrese 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/penske">Roger Penske 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/salvadori">Roy Salvadori 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/keegan">Rupert Keegan 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/posey">Sam Posey 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/barber">Skip Barber 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/maggs">Tony Maggs 🇿🇦</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/prost">Alain Prost 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/cesaris">Andrea de Cesaris 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gabbiani">Beppe Gabbiani 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/rahal">Bobby Rahal 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/unser">Bobby Unser 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/henton">Brian Henton 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/craft">Chris Craft 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/irwin">Chris Irwin 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ongais">Danny Ongais 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hobbs">David Hobbs 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/walker">David Walker 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/cheever">Eddie Cheever 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/vos">Ernie de Vos 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lees">Geoff Lees 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/follmer">George Follmer 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/baghetti">Giancarlo Baghetti 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hutchison">Gus Hutchison 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ligier">Guy Ligier 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/binder">Hans Binder 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ertl">Harald Ertl 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marko">Helmut Marko 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/koinigg">Helmuth Koinigg 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ian_scheckter">Ian Scheckter 🇿🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/Cannoc">John Cannon 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gavin">Johnny Servoz-Gavin 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/dolhem">José Dolhem 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ken_miles">Ken Miles 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/perkins">Larry Perkins 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lombardi">Lella Lombardi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ruby">Lloyd Ruby 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bianchi">Lucien Bianchi 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/donohue">Mark Donohue 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/trintignant">Maurice Trintignant 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bleekemolen">Michael Bleekemolen 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/leclere">Michel Leclère 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/thackwell">Mike Thackwell 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wilds">Mike Wilds 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/galli">Nanni Galli 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gendebien">Olivier Gendebien 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stuppacher">Otto Stuppacher 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/neve">Patrick Nève 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/arundell">Peter Arundell 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/broeker">Peter Broeker 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ryan">Peter Ryan 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/westbury">Peter Westbury 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/zunino">Ricardo Zunino 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/attwood">Richard Attwood 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/opel">Rikky von Opel 🇱🇮</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/schroeder">Rob Schroeder 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ward">Rodger Ward 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wunderink">Roelof Wunderink 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/moser">Silvio Moser 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/moss">Stirling Moss 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mayer">Timmy Mayer 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brise">Tony Brise 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brooks">Tony Brooks 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/elford">Vic Elford 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brown">Warwick Brown 🇦🇺</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>148</td></tr><tr><td><b>Total Sum</b></td><td>483.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>3.264</td></tr><tr><td><b>Maximum</b></td><td>14.000</td></tr><tr><td><b>75th Percentile</b></td><td>4.000</td></tr><tr><td><b>Median</b></td><td>2.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>8.154</td></tr><tr><td><b>Standard Deviation σ</b></td><td>2.855</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
