---
title: List of All Formula 1® Drivers that Have Raced in Sweden by Number of Times
layout: page
collectionName: countries
collectionId: sweden
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/reutemann">Carlos Reutemann 🇦🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/emerson_fittipaldi">Emerson Fittipaldi 🇧🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/peterson">Ronnie Peterson 🇸🇪</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/hunt">James Hunt 🇬🇧</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/jarier">Jean-Pierre Jarier 🇫🇷</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/mass">Jochen Mass 🇩🇪</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/depailler">Patrick Depailler 🇫🇷</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/brambilla">Vittorio Brambilla 🇮🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/pace">Carlos Pace 🇧🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/ickx">Jacky Ickx 🇧🇪</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/mario_andretti">Mario Andretti 🇺🇸</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/lunger">Brett Lunger 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/stuck">Hans-Joachim Stuck 🇩🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/merzario">Arturo Merzario 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hulme">Denny Hulme 🇳🇿</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hill">Graham Hill 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nilsson">Gunnar Nilsson 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ertl">Harald Ertl 🇦🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/rebaque">Hector Rebaque 🇲🇽</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ian_scheckter">Ian Scheckter 🇿🇦</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/oliver">Jackie Oliver 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/beltoise">Jean-Pierre Beltoise 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/perkins">Larry Perkins 🇦🇺</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hailwood">Mike Hailwood 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/wisell">Reine Wisell 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/keegan">Rupert Keegan 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/pryce">Tom Pryce 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/schuppan">Vern Schuppan 🇦🇺</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/wilson_fittipaldi">Wilson Fittipaldi 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ribeiro">Alex Ribeiro 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/roos">Bertil Roos 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/evans">Bob Evans 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hayje">Boy Lunger 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/amon">Chris Amon 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/andersson">Conny Andersson 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/magee">Damien Magee 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/purley">David Purley 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pironi">Didier Pironi 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/villota">Emilio de Villota 🇪🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/cevert">François Cevert 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/follmer">George Follmer 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gilles_villeneuve">Gilles Villeneuve 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/edwards">Guy Edwards 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pescarolo">Henri Pescarolo 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ganley">Howden Ganley 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/nelleman">Jac Nelleman 🇩🇰</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stewart">Jackie Stewart 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/jabouille">Jean-Pierre Jabouille 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/keke_rosberg">Keke Rosberg 🇫🇮</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lombardi">Lella Lombardi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/kinnunen">Leo Kinnunen 🇫🇮</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/kessel">Loris Kessel 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/donohue">Mark Donohue 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/leclere">Michel Leclère 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/beuttler">Mike Beuttler 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/kozarowitzky">Mikko Kozarowitzky 🇫🇮</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/neve">Patrick Nève 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/revson">Peter Revson 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/patrese">Riccardo Patrese 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/robarts">Richard Robarts 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/opel">Rikky von Opel 🇱🇮</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stommelen">Rolf Stommelen 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/belso">Tom Belsø 🇩🇰</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brise">Tony Brise 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/palm">Torsten Palm 🇸🇪</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>72</td></tr><tr><td><b>Total Sum</b></td><td>159.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>2.208</td></tr><tr><td><b>Maximum</b></td><td>6.000</td></tr><tr><td><b>75th Percentile</b></td><td>3.000</td></tr><tr><td><b>Median</b></td><td>1.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>2.720</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.649</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
