---
title: List of All Formula 1® Drivers that Have Raced at Fuji Speedway
layout: page
collectionName: circuits
collectionId: fuji
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/sutil">Adrian Sutil 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/coulthard">David Coulthard 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/massa">Felipe Massa 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/alonso">Fernando Alonso 🇪🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nilsson">Gunnar Nilsson 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/binder">Hans Binder 🇦🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/stuck">Hans-Joachim Stuck 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/kovalainen">Heikki Kovalainen 🇫🇮</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hunt">James Hunt 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/trulli">Jarno Trulli 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/jarier">Jean-Pierre Jarier 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/button">Jenson Button 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/mass">Jochen Mass 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hoshino">Kazuyoshi Hoshino 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/raikkonen">Kimi Räikkönen 🇫🇮</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hamilton">Lewis Hamilton 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/mario_andretti">Mario Andretti 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/webber">Mark Webber 🇦🇺</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/heidfeld">Nick Heidfeld 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/rosberg">Nico Rosberg 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/takahara">Noritake Takahara 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/depailler">Patrick Depailler 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/kubica">Robert Kubica 🇵🇱</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/peterson">Ronnie Peterson 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/barrichello">Rubens Barrichello 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/vettel">Sebastian Vettel 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/brambilla">Vittorio Brambilla 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ribeiro">Alex Ribeiro 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wurz">Alexander Wurz 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/davidson">Anthony Davidson 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/merzario">Arturo Merzario 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pace">Carlos Pace 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/reutemann">Carlos Reutemann 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/emerson_fittipaldi">Emerson Fittipaldi 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gilles_villeneuve">Gilles Villeneuve 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ertl">Harald Ertl 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/nakajima">Kazuki Nakajima 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/takahashi">Kunimitsu Takahashi 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/perkins">Larry Perkins 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hasemi">Masahiro Hasemi 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/piquet_jr">Nelson Piquet Jr. 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ralf_schumacher">Ralf Schumacher 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/patrese">Riccardo Patrese 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/yamamoto">Sakon Yamamoto 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bourdais">Sébastien Bourdais 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/sato">Takuma Sato 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/glock">Timo Glock 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pryce">Tom Pryce 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/trimmer">Tony Trimmer 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/liuzzi">Vitantonio Liuzzi 🇮🇹</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>58</td></tr><tr><td><b>Total Sum</b></td><td>91.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>1.569</td></tr><tr><td><b>Maximum</b></td><td>2.000</td></tr><tr><td><b>75th Percentile</b></td><td>2.000</td></tr><tr><td><b>Median</b></td><td>2.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>0.245</td></tr><tr><td><b>Standard Deviation σ</b></td><td>0.495</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
