---
title: List of All Formula 1® Drivers that Have Been in the Podium in Netherlands by Number of Times
layout: page
collectionName: countries
collectionId: netherlands
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<canvas id="chart" width="400" height="180"></canvas>
<script>
var data = {
  "labels" : [
    "Jim Clark",
    "Niki Lauda",
    "Jackie Stewart",
    "Clay Regazzoni",
    "Jack Brabham",
    "Alain Prost",
    "Graham Hill",
    "Jacques Laffite",
    "James Hunt",
    "Nelson Piquet",
    "Alan Jones",
    "Alberto Ascari",
    "Dan Gurney",
    "Jacky Ickx",
    "Jody Scheckter",
    "John Surtees",
    "Mario Andretti",
    "Nino Farina",
    "Pedro Rodríguez",
    "Phil Hill",
    "René Arnoux",
    "Stirling Moss",
    "Ayrton Senna",
    "Chris Amon",
    "Denny Hulme",
    "Didier Pironi",
    "Emerson Fittipaldi",
    "Felice Bonetto",
    "François Cevert",
    "Harry Schell",
    "Innes Ireland",
    "Jean Behra",
    "Jean-Pierre Beltoise",
    "Jo Bonnier",
    "Jo Siffert",
    "Jochen Rindt",
    "John Watson",
    "José Froilán González",
    "Juan Fangio",
    "Keke Rosberg",
    "Luigi Musso",
    "Luigi Villoresi",
    "Masten Gregory",
    "Nigel Mansell",
    "Patrick Tambay",
    "Peter Arundell",
    "Ronnie Peterson",
    "Trevor Taylor",
    "Wolfgang von Trips"
  ],
  "datasets" : [
    {
      "label" : "Times",
      "data" : [
        6,
        6,
        5,
        4,
        4,
        3,
        3,
        3,
        3,
        3,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1
      ],
      "borderColor" : [
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E"
      ],
      "borderWidth" : 1,
      "backgroundColor" : [
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D"
      ]
    }
  ]
};
var options = {
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      ticks: {
        beginAtZero: true,
        maxRotation: 180,
        display: window.innerWidth > 800
      }
    }],
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  onResize: function(chart, size) {
    chart.options.scales.xAxes[0].ticks.display = size.width > 800;
  }
};
var chart = new Chart("chart", {
    data: data,
    type: 'bar',
    options: options
});
</script>



<h3>Data Table</h3>

<table>
<tr><th>#</th><th>Driver</th><th>Times</th></tr>
<tr><td>1.</td><td><a href="/f1/drivers/clark">Jim Clark 🇬🇧</a></td><td>6</td></tr>
<tr><td>2.</td><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>6</td></tr>
<tr><td>3.</td><td><a href="/f1/drivers/stewart">Jackie Stewart 🇬🇧</a></td><td>5</td></tr>
<tr><td>4.</td><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>4</td></tr>
<tr><td>5.</td><td><a href="/f1/drivers/jack_brabham">Jack Brabham 🇦🇺</a></td><td>4</td></tr>
<tr><td>6.</td><td><a href="/f1/drivers/prost">Alain Prost 🇫🇷</a></td><td>3</td></tr>
<tr><td>7.</td><td><a href="/f1/drivers/hill">Graham Hill 🇬🇧</a></td><td>3</td></tr>
<tr><td>8.</td><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>3</td></tr>
<tr><td>9.</td><td><a href="/f1/drivers/hunt">James Hunt 🇬🇧</a></td><td>3</td></tr>
<tr><td>10.</td><td><a href="/f1/drivers/piquet">Nelson Piquet 🇧🇷</a></td><td>3</td></tr>
<tr><td>11.</td><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>2</td></tr>
<tr><td>12.</td><td><a href="/f1/drivers/ascari">Alberto Ascari 🇮🇹</a></td><td>2</td></tr>
<tr><td>13.</td><td><a href="/f1/drivers/gurney">Dan Gurney 🇺🇸</a></td><td>2</td></tr>
<tr><td>14.</td><td><a href="/f1/drivers/ickx">Jacky Ickx 🇧🇪</a></td><td>2</td></tr>
<tr><td>15.</td><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>2</td></tr>
<tr><td>16.</td><td><a href="/f1/drivers/surtees">John Surtees 🇬🇧</a></td><td>2</td></tr>
<tr><td>17.</td><td><a href="/f1/drivers/mario_andretti">Mario Andretti 🇺🇸</a></td><td>2</td></tr>
<tr><td>18.</td><td><a href="/f1/drivers/farina">Nino Farina 🇮🇹</a></td><td>2</td></tr>
<tr><td>19.</td><td><a href="/f1/drivers/rodriguez">Pedro Rodríguez 🇲🇽</a></td><td>2</td></tr>
<tr><td>20.</td><td><a href="/f1/drivers/phil_hill">Phil Hill 🇺🇸</a></td><td>2</td></tr>
<tr><td>21.</td><td><a href="/f1/drivers/arnoux">René Arnoux 🇫🇷</a></td><td>2</td></tr>
<tr><td>22.</td><td><a href="/f1/drivers/moss">Stirling Moss 🇬🇧</a></td><td>2</td></tr>
<tr><td>23.</td><td><a href="/f1/drivers/senna">Ayrton Senna 🇧🇷</a></td><td>1</td></tr>
<tr><td>24.</td><td><a href="/f1/drivers/amon">Chris Amon 🇳🇿</a></td><td>1</td></tr>
<tr><td>25.</td><td><a href="/f1/drivers/hulme">Denny Hulme 🇳🇿</a></td><td>1</td></tr>
<tr><td>26.</td><td><a href="/f1/drivers/pironi">Didier Pironi 🇫🇷</a></td><td>1</td></tr>
<tr><td>27.</td><td><a href="/f1/drivers/emerson_fittipaldi">Emerson Fittipaldi 🇧🇷</a></td><td>1</td></tr>
<tr><td>28.</td><td><a href="/f1/drivers/bonetto">Felice Bonetto 🇮🇹</a></td><td>1</td></tr>
<tr><td>29.</td><td><a href="/f1/drivers/cevert">François Cevert 🇫🇷</a></td><td>1</td></tr>
<tr><td>30.</td><td><a href="/f1/drivers/schell">Harry Schell 🇺🇸</a></td><td>1</td></tr>
<tr><td>31.</td><td><a href="/f1/drivers/ireland">Innes Ireland 🇬🇧</a></td><td>1</td></tr>
<tr><td>32.</td><td><a href="/f1/drivers/behra">Jean Behra 🇫🇷</a></td><td>1</td></tr>
<tr><td>33.</td><td><a href="/f1/drivers/beltoise">Jean-Pierre Beltoise 🇫🇷</a></td><td>1</td></tr>
<tr><td>34.</td><td><a href="/f1/drivers/bonnier">Jo Bonnier 🇸🇪</a></td><td>1</td></tr>
<tr><td>35.</td><td><a href="/f1/drivers/siffert">Jo Siffert 🇨🇭</a></td><td>1</td></tr>
<tr><td>36.</td><td><a href="/f1/drivers/rindt">Jochen Rindt 🇦🇹</a></td><td>1</td></tr>
<tr><td>37.</td><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>1</td></tr>
<tr><td>38.</td><td><a href="/f1/drivers/gonzalez">José Froilán González 🇦🇷</a></td><td>1</td></tr>
<tr><td>39.</td><td><a href="/f1/drivers/fangio">Juan Fangio 🇦🇷</a></td><td>1</td></tr>
<tr><td>40.</td><td><a href="/f1/drivers/keke_rosberg">Keke Rosberg 🇫🇮</a></td><td>1</td></tr>
<tr><td>41.</td><td><a href="/f1/drivers/musso">Luigi Musso 🇮🇹</a></td><td>1</td></tr>
<tr><td>42.</td><td><a href="/f1/drivers/villoresi">Luigi Villoresi 🇮🇹</a></td><td>1</td></tr>
<tr><td>43.</td><td><a href="/f1/drivers/gregory">Masten Gregory 🇺🇸</a></td><td>1</td></tr>
<tr><td>44.</td><td><a href="/f1/drivers/mansell">Nigel Mansell 🇬🇧</a></td><td>1</td></tr>
<tr><td>45.</td><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>1</td></tr>
<tr><td>46.</td><td><a href="/f1/drivers/arundell">Peter Arundell 🇬🇧</a></td><td>1</td></tr>
<tr><td>47.</td><td><a href="/f1/drivers/peterson">Ronnie Peterson 🇸🇪</a></td><td>1</td></tr>
<tr><td>48.</td><td><a href="/f1/drivers/trevor_taylor">Trevor Taylor 🇬🇧</a></td><td>1</td></tr>
<tr><td>49.</td><td><a href="/f1/drivers/trips">Wolfgang von Trips 🇩🇪</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>49</td></tr><tr><td><b>Total Sum</b></td><td>91.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>1.857</td></tr><tr><td><b>Maximum</b></td><td>6.000</td></tr><tr><td><b>75th Percentile</b></td><td>2.000</td></tr><tr><td><b>Median</b></td><td>1.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>1.633</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.278</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>

