---
title: List of All Formula 1® Drivers that Have Raced in Switzerland by Number of Times
layout: page
collectionName: countries
collectionId: switzerland
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/fangio">Juan Fangio 🇦🇷</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/farina">Nino Farina 🇮🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/schell">Harry Schell 🇺🇸</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/rosier">Louis Rosier 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/graffenried">Toulo de Graffenried 🇨🇭</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/ascari">Alberto Ascari 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/bonetto">Felice Bonetto 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/behra">Jean Behra 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/wharton">Ken Wharton 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/villoresi">Luigi Villoresi 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/hirt">Peter Hirt 🇨🇭</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/moss">Stirling Moss 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/abecassis">George Abecassis 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/swaters">Jacques Swaters 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/claes">Johnny Claes 🇧🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/gonzalez">José Froilán González 🇦🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/macklin">Lance Macklin 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/chiron">Louis Chiron 🇲🇨</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/trintignant">Maurice Trintignant 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/terra">Max de Terra 🇨🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hawthorn">Mike Hawthorn 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/etancelin">Philippe Étancelin 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/taruffi">Piero Taruffi 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bira">Prince Bira 🇹🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/manzon">Robert Manzon 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/fischer">Rudi Fischer 🇨🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/cabantous">Yves Cabantous 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/alan_brown">Alan Brown 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/scherrer">Albert Scherrer 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/simon">André Simon 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/landi">Chico Landi 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bucci">Clemar Bucci 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/sanesi">Consalvo Sanesi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brandon">Eric Brandon 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/martin">Eugène Martin 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wacker">Fred Wacker 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/guy_mairesse">Guy Mairesse 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/herrmann">Hans Herrmann 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hans_stuck">Hans von Stuck 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/louveau">Henri Louveau 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lang">Hermann Lang 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/kling">Karl Kling 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/fagioli">Luigi Fagioli 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pagani">Nello Pagani 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marimon">Onofre Marimón 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/frere">Paul Frère 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/collins">Peter Collins 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/whitehead">Peter Whitehead 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/sommer">Raymond Sommer 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mieres">Roberto Mieres 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mantovani">Sergio Mantovani 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/branca">Toni Branca 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ulmen">Toni Ulmen 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/maglioli">Umberto Maglioli 🇮🇹</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>54</td></tr><tr><td><b>Total Sum</b></td><td>100.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>1.852</td></tr><tr><td><b>Maximum</b></td><td>5.000</td></tr><tr><td><b>75th Percentile</b></td><td>2.000</td></tr><tr><td><b>Median</b></td><td>2.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>1.163</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.079</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
