---
title: List of All Formula 1® Drivers from Italy by Surname
layout: page
collectionName: countries
collectionId: italy
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Forename</th><th>Surname</th><th>Country</th><th>Flag</th></tr>
<tr><td>Carlo</td><td>Abate</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Michele</td><td>Alboreto</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giovanna</td><td>Amati</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Marco</td><td>Apicella</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alberto</td><td>Ascari</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luca</td><td>Badoer</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giancarlo</td><td>Baghetti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Mauro</td><td>Baldi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Lorenzo</td><td>Bandini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Fabrizio</td><td>Barbazza</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Paolo</td><td>Barilla</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giorgio</td><td>Bassi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Enrico</td><td>Bertaggia</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Clemente</td><td>Biondetti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Menato</td><td>Boffa</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Felice</td><td>Bonetto</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Ernesto</td><td>Brambilla</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Vittorio</td><td>Brambilla</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gianfranco</td><td>Brancatelli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gianmaria</td><td>Bruni</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Roberto</td><td>Bussinello</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giulio</td><td>Cabianca</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alex</td><td>Caffi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Ivan</td><td>Capelli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piero</td><td>Carini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Eugenio</td><td>Castellotti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alberto</td><td>Colombo</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Franco</td><td>Comotti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Andrea</td><td>de Adamich</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Elio</td><td>de Angelis</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Andrea</td><td>de Cesaris</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Maria</td><td>de Filippis</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giovanni</td><td>de Riu</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piero</td><td>Drogo</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piero</td><td>Dusio</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Corrado</td><td>Fabi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Teo</td><td>Fabi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Carlo</td><td>Facetti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luigi</td><td>Fagioli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Nino</td><td>Farina</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giancarlo</td><td>Fisichella</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Carlo</td><td>Franchi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giorgio</td><td>Francia</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Beppe</td><td>Gabbiani</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Nanni</td><td>Galli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gerino</td><td>Gerini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piercarlo</td><td>Ghinzani</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Bruno</td><td>Giacomelli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Antonio</td><td>Giovinazzi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Ignazio</td><td>Giunti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Claudio</td><td>Langes</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Nicola</td><td>Larini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giovanni</td><td>Lavaggi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Lamberto</td><td>Leoni</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Roberto</td><td>Lippi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Vitantonio</td><td>Liuzzi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Lella</td><td>Lombardi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Umberto</td><td>Maglioli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Sergio</td><td>Mantovani</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Pierluigi</td><td>Martini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Arturo</td><td>Merzario</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Stefano</td><td>Modena</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Andrea</td><td>Montermini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gianni</td><td>Morbidelli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gino</td><td>Munaron</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luigi</td><td>Musso</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alessandro</td><td>Nannini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Emanuele</td><td>Naspetti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Massimo</td><td>Natili</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Nello</td><td>Pagani</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Riccardo</td><td>Paletti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giorgio</td><td>Pantano</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Massimiliano</td><td>Papis</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Riccardo</td><td>Patrese</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Cesare</td><td>Perdisa</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alessandro</td><td>Pesenti-Rossi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luigi</td><td>Piotti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Renato</td><td>Pirocchi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Emanuele</td><td>Pirro</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Ernesto</td><td>Prinoth</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Franco</td><td>Rol</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giacomo</td><td>Russo</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Consalvo</td><td>Sanesi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Ludovico</td><td>Scarfiotti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Giorgio</td><td>Scarlatti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Domenico</td><td>Schiattarella</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piero</td><td>Scotti</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Dorino</td><td>Serafini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Vincenzo</td><td>Sospiri</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gaetano</td><td>Starrabba</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Siegfried</td><td>Stohr</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luigi</td><td>Taramazzo</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Gabriele</td><td>Tarquini</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Piero</td><td>Taruffi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Jarno</td><td>Trulli</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Nino</td><td>Vaccarella</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Luigi</td><td>Villoresi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Alessandro</td><td>Zanardi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr>
<tr><td>Renzo</td><td>Zorzi</td><td><a href="/f1/countries/italy">Italy</a></td><td>🇮🇹</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Surname</b></td><td><b>Country</b></td><td><b>Flag</b></td></tr><tr><td><b>Row Count</b></td><td></td><td></td><td></td></tr><tr><td><b>Total Sum</b></td><td></td><td></td><td></td></tr><tr><td><b>Mean μ (Average)</b></td><td></td><td></td><td></td></tr><tr><td><b>Maximum</b></td><td></td><td></td><td></td></tr><tr><td><b>75th Percentile</b></td><td></td><td></td><td></td></tr><tr><td><b>Median</b></td><td></td><td></td><td></td></tr><tr><td><b>25th Percentile</b></td><td></td><td></td><td></td></tr><tr><td><b>Minimum</b></td><td></td><td></td><td></td></tr><tr><td><b>Variance</b></td><td></td><td></td><td></td></tr><tr><td><b>Standard Deviation σ</b></td><td></td><td></td><td></td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
