<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    {% include metatags.html %}
    {% include twitter.html %}
    {% include facebook.html %}

    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.1/datatables.min.js"></script> -->
</head>
