<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-flag-checkered"></i> <span>Grand Prix Stats</span></a>
        </div>
        <div class="clearfix"></div>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Formula One®</h3>
                <ul class="nav side-menu">
                    <li><a href="/f1/seasons"><i class="fa fa-calendar"></i> Seasons</a></li>
                    <!-- <li><a href="/f1/circuits"><i class="fa fa-map-marker"></i> Circuits</a></li>
                    <li><a href="/f1/countries"><i class="fa fa-globe"></i> Countries</a></li>
                    <li><a href="/f1/races"><i class="fa fa-flag-checkered"></i> Races</a></li>
                    <li><a href="/f1/drivers"><i class="fa fa-user"></i> Drivers</a></li>
                    <li><a href="/f1/constructors"><i class="fa fa-users"></i>Teams</a></li>
                    <li><a href="/f1/statistics"><i class="fa fa-chart"></i>Global Stats</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
