---
title: List of All Formula 1® Drivers that Have Raced at Rouen-Les-Essarts
layout: page
collectionName: circuits
collectionId: essarts
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/jack_brabham">Jack Brabham 🇦🇺</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/trintignant">Maurice Trintignant 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/mclaren">Bruce McLaren 🇳🇿</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/hill">Graham Hill 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/schell">Harry Schell 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/siffert">Jo Siffert 🇨🇭</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/surtees">John Surtees 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/amon">Chris Amon 🇳🇿</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/gurney">Dan Gurney 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ireland">Innes Ireland 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/behra">Jean Behra 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/clark">Jim Clark 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hawthorn">Mike Hawthorn 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/arundell">Peter Arundell 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/collins">Peter Collins 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ginther">Richie Ginther 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/salvadori">Roy Salvadori 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/trevor_taylor">Trevor Taylor 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ascari">Alberto Ascari 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/anderson">Bob Anderson 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/beaufort">Carel Godin de Beaufort 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/abate">Carlo Abate 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/menditeguy">Carlos Menditeguy 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/davis">Colin Davis 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hulme">Denny Hulme 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/comotti">Franco Comotti 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mackay-fraser">Herbert MacKay-Fraser 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gould">Horace Gould 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/burgess">Ian Burgess 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lewis">Jackie Lewis 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stewart">Jackie Stewart 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ickx">Jacky Ickx 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/beltoise">Jean-Pierre Beltoise 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bonnier">Jo Bonnier 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/jo_schlesser">Jo Schlesser 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/rindt">Jochen Rindt 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/claes">Johnny Claes 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gavin">Johnny Servoz-Gavin 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/fangio">Juan Fangio 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/macklin">Lance Macklin 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bandini">Lorenzo Bandini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/rosier">Louis Rosier 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/musso">Luigi Musso 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gregory">Masten Gregory 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hailwood">Mike Hailwood 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/macdowel">Mike MacDowel 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/farina">Nino Farina 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/rodriguez">Pedro Rodríguez 🇲🇽</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hirt">Peter Hirt 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/whitehead">Peter Whitehead 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/phil_hill">Phil Hill 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/etancelin">Philippe Étancelin 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/carini">Piero Carini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/taruffi">Piero Taruffi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/courage">Piers Courage 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bira">Prince Bira 🇹🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/attwood">Richard Attwood 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/manzon">Robert Manzon 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/flockhart">Ron Flockhart 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/fischer">Rudi Fischer 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lewis-evans">Stuart Lewis-Evans 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/maggs">Tony Maggs 🇿🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marsh">Tony Marsh 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/graffenried">Toulo de Graffenried 🇨🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/elford">Vic Elford 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/cabantous">Yves Cabantous 🇫🇷</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>66</td></tr><tr><td><b>Total Sum</b></td><td>94.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>1.424</td></tr><tr><td><b>Maximum</b></td><td>5.000</td></tr><tr><td><b>75th Percentile</b></td><td>2.000</td></tr><tr><td><b>Median</b></td><td>1.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>0.669</td></tr><tr><td><b>Standard Deviation σ</b></td><td>0.818</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
