---
title: Rank of Formula 1® Drivers by Number of Wins at Sepang International Circuit
layout: page
collectionName: circuits
collectionId: sepang
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<canvas id="chart" width="400" height="180"></canvas>
<script>
var data = {
  "labels" : [
    "Sebastian Vettel",
    "Fernando Alonso",
    "Michael Schumacher",
    "Kimi Räikkönen",
    "Daniel Ricciardo",
    "Eddie Irvine",
    "Giancarlo Fisichella",
    "Jenson Button",
    "Lewis Hamilton",
    "Ralf Schumacher"
  ],
  "datasets" : [
    {
      "label" : "Number Of Wins",
      "data" : [
        4,
        3,
        3,
        2,
        1,
        1,
        1,
        1,
        1,
        1
      ],
      "borderColor" : [
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E"
      ],
      "borderWidth" : 1,
      "backgroundColor" : [
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D"
      ]
    }
  ]
};
var options = {
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      ticks: {
        beginAtZero: true,
        maxRotation: 180,
        display: window.innerWidth > 800
      }
    }],
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  onResize: function(chart, size) {
    chart.options.scales.xAxes[0].ticks.display = size.width > 800;
  }
};
var chart = new Chart("chart", {
    data: data,
    type: 'bar',
    options: options
});
</script>



<h3>Data Table</h3>

<table>
<tr><th>#</th><th>Driver</th><th>Number Of Wins</th></tr>
<tr><td>1.</td><td><a href="/f1/drivers/vettel">Sebastian Vettel 🇩🇪</a></td><td>4</td></tr>
<tr><td>2.</td><td><a href="/f1/drivers/alonso">Fernando Alonso 🇪🇸</a></td><td>3</td></tr>
<tr><td>3.</td><td><a href="/f1/drivers/michael_schumacher">Michael Schumacher 🇩🇪</a></td><td>3</td></tr>
<tr><td>4.</td><td><a href="/f1/drivers/raikkonen">Kimi Räikkönen 🇫🇮</a></td><td>2</td></tr>
<tr><td>5.</td><td><a href="/f1/drivers/ricciardo">Daniel Ricciardo 🇦🇺</a></td><td>1</td></tr>
<tr><td>6.</td><td><a href="/f1/drivers/irvine">Eddie Irvine 🇬🇧</a></td><td>1</td></tr>
<tr><td>7.</td><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>1</td></tr>
<tr><td>8.</td><td><a href="/f1/drivers/button">Jenson Button 🇬🇧</a></td><td>1</td></tr>
<tr><td>9.</td><td><a href="/f1/drivers/hamilton">Lewis Hamilton 🇬🇧</a></td><td>1</td></tr>
<tr><td>10.</td><td><a href="/f1/drivers/ralf_schumacher">Ralf Schumacher 🇩🇪</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Number Of Wins</b></td></tr><tr><td><b>Row Count</b></td><td>10</td></tr><tr><td><b>Total Sum</b></td><td>18.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>1.800</td></tr><tr><td><b>Maximum</b></td><td>4.000</td></tr><tr><td><b>75th Percentile</b></td><td>3.000</td></tr><tr><td><b>Median</b></td><td>1.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>1.160</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.077</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>

