---
title: List of All Formula 1® Drivers that Have Raced at Autódromo Juan y Oscar Gálvez
layout: page
collectionName: circuits
collectionId: galvez
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/reutemann">Carlos Reutemann 🇦🇷</a></td><td>9</td></tr>
<tr><td><a href="/f1/drivers/menditeguy">Carlos Menditeguy 🇦🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/emerson_fittipaldi">Emerson Fittipaldi 🇧🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/schell">Harry Schell 🇺🇸</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/behra">Jean Behra 🇫🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/fangio">Juan Fangio 🇦🇷</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/mario_andretti">Mario Andretti 🇺🇸</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/moss">Stirling Moss 🇬🇧</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/jarier">Jean-Pierre Jarier 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/mass">Jochen Mass 🇩🇪</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/gonzalez">José Froilán González 🇦🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/musso">Luigi Musso 🇮🇹</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/trintignant">Maurice Trintignant 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/depailler">Patrick Depailler 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/peterson">Ronnie Peterson 🇸🇪</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/merzario">Arturo Merzario 🇮🇹</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/hunt">James Hunt 🇬🇧</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/hawthorn">Mike Hawthorn 🇬🇧</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/pace">Carlos Pace 🇧🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/damon_hill">Damon Hill 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/coulthard">David Coulthard 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/pironi">Didier Pironi 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/irvine">Eddie Irvine 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/gilles_villeneuve">Gilles Villeneuve 🇨🇦</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/hill">Graham Hill 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/frentzen">Heinz-Harald Frentzen 🇩🇪</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/ickx">Jacky Ickx 🇧🇪</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/alesi">Jean Alesi 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/herbert">Johnny Herbert 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/michael_schumacher">Michael Schumacher 🇩🇪</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/hakkinen">Mika Häkkinen 🇫🇮</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/salo">Mika Salo 🇫🇮</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/farina">Nino Farina 🇮🇹</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/panis">Olivier Panis 🇫🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/diniz">Pedro Diniz 🇧🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/collins">Peter Collins 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/barrichello">Rubens Barrichello 🇧🇷</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/hulme">Denny Hulme 🇳🇿</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/daly">Derek Daly 🇮🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/cheever">Eddie Cheever 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/angelis">Elio de Angelis 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/castellotti">Eugenio Castellotti 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/berger">Gerhard Berger 🇦🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/stuck">Hans-Joachim Stuck 🇩🇪</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/rebaque">Hector Rebaque 🇲🇽</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/ganley">Howden Ganley 🇳🇿</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/villeneuve">Jacques Villeneuve 🇨🇦</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/lammers">Jan Lammers 🇳🇱</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/jabouille">Jean-Pierre Jabouille 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/verstappen">Jos Verstappen 🇳🇱</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/villoresi">Luigi Villoresi 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/piquet">Nelson Piquet 🇧🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/revson">Peter Revson 🇺🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/arnoux">René Arnoux 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/patrese">Riccardo Patrese 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/katayama">Ukyo Katayama 🇯🇵</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/brambilla">Vittorio Brambilla 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/prost">Alain Prost 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ascari">Alberto Ascari 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/uria">Alberto Uria 🇺🇾</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/montermini">Andrea Montermini 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/giacomelli">Bruno Giacomelli 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bayol">Élie Bayol 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/cevert">François Cevert 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/pescarolo">Henri Pescarolo 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/stewart">Jackie Stewart 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/magnussen">Jan Magnussen 🇩🇰</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/trulli">Jarno Trulli 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/beltoise">Jean-Pierre Beltoise 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bonnier">Jo Bonnier 🇸🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/kling">Karl Kling 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/keke_rosberg">Keke Rosberg 🇫🇮</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/badoer">Luca Badoer 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/piotti">Luigi Piotti 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/surer">Marc Surer 🇨🇭</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/hailwood">Mike Hailwood 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/birger">Pablo Birger 🇦🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/ralf_schumacher">Ralf Schumacher 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/rosset">Ricardo Rosset 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/zunino">Ricardo Zunino 🇦🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/mieres">Roberto Mieres 🇦🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/mantovani">Sergio Mantovani 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nakano">Shinji Nakano 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/pryce">Tom Pryce 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/maglioli">Umberto Maglioli 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/wilson_fittipaldi">Wilson Fittipaldi 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/trips">Wolfgang von Trips 🇩🇪</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/cruz">Adolfo Cruz 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/suzuki">Aguri Suzuki 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/alan_brown">Alan Brown 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stacey">Alan Stacey 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/larreta">Alberto Rodriguez Larreta 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/tomaso">Alessandro de Tomaso 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ribeiro">Alex Ribeiro 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/roig">Alex Soler-Roig 🇪🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wurz">Alexander Wurz 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/portago">Alfonso de Portago 🇪🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/adamich">Andrea de Adamich 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/cesaris">Andrea de Cesaris 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/creus">Antonio Creus 🇪🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gabbiani">Beppe Gabbiani 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gachot">Bertrand Gachot 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lunger">Brett Lunger 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mclaren">Bruce McLaren 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/perdisa">Cesare Perdisa 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/landi">Chico Landi 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/serra">Chico Serra 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/amon">Chris Amon 🇳🇿</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bucci">Clemar Bucci 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/allison">Cliff Allison 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ongais">Danny Ongais 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/kennedy">Dave Kennedy 🇮🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/walker">David Walker 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/galica">Divina Galica 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/schiattarella">Domenico Schiattarella 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/salazar">Eliseo Salazar 🇨🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/tuero">Esteban Tuero 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/chimeri">Ettore Chimeri 🇻🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bonetto">Felice Bonetto 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/migault">François Migault 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gerini">Gerino Gerini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/morbidelli">Gianni Morbidelli 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/munaron">Gino Munaron 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/scarlatti">Giorgio Scarlatti 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/nilsson">Gunnar Nilsson 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/edwards">Guy Edwards 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/binder">Hans Binder 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/herrmann">Hans Herrmann 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marko">Helmut Marko 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gould">Horace Gould 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ian_scheckter">Ian Scheckter 🇿🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/hoffmann">Ingo Hoffmann 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ireland">Innes Ireland 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/jack_brabham">Jack Brabham 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/iglesias">Jesús Iglesias 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/john_barber">John Barber 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/daponte">Jorge Daponte 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wendlinger">Karl Wendlinger 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/leoni">Lamberto Leoni 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/rosier">Louis Rosier 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/blundell">Mark Blundell 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/donohue">Mark Donohue 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brundle">Martin Brundle 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gregory">Masten Gregory 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/guerra">Miguel Ángel Guerra 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/beuttler">Mike Beuttler 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wilds">Mike Wilds 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/galli">Nanni Galli 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/estefano">Nasif Estéfano 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/larini">Nicola Larini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mansell">Nigel Mansell 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gendebien">Olivier Gendebien 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marimon">Onofre Marimón 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/galvez">Oscar Gálvez 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/oscar_gonzalez">Óscar González 🇺🇾</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/godia">Paco Godia 🇪🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lamy">Pedro Lamy 🇵🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/gethin">Peter Gethin 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/phil_hill">Phil Hill 🇺🇸</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/martini">Pierluigi Martini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bira">Prince Bira 🇹🇭</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wisell">Reine Wisell 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/zorzi">Renzo Zorzi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/robarts">Richard Robarts 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/manzon">Robert Manzon 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bonomi">Roberto Bonomi 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/moreno">Roberto Moreno 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/loyer">Roger Loyer 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stommelen">Rolf Stommelen 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/keegan">Rupert Keegan 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stohr">Siegfried Stohr 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/johansson">Stefan Johansson 🇸🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/inoue">Taki Inoue 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marques">Tarso Marques 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/schenken">Tim Schenken 🇦🇺</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/takagi">Toranosuke Takagi 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/graffenried">Toulo de Graffenried 🇨🇭</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>185</td></tr><tr><td><b>Total Sum</b></td><td>448.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>2.422</td></tr><tr><td><b>Maximum</b></td><td>9.000</td></tr><tr><td><b>75th Percentile</b></td><td>3.000</td></tr><tr><td><b>Median</b></td><td>2.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>3.693</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.922</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
