---
title: List of All Formula 1® Drivers from Japan by Surname
layout: page
collectionName: countries
collectionId: japan
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Forename</th><th>Surname</th><th>Country</th><th>Flag</th></tr>
<tr><td>Hiroshi</td><td>Fushida</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Masahiro</td><td>Hasemi</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Naoki</td><td>Hattori</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Kazuyoshi</td><td>Hoshino</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Yuji</td><td>Ide</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Taki</td><td>Inoue</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Ukyo</td><td>Katayama</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Kamui</td><td>Kobayashi</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Kazuki</td><td>Nakajima</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Satoru</td><td>Nakajima</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Shinji</td><td>Nakano</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Hideki</td><td>Noda</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Takuma</td><td>Sato</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Aguri</td><td>Suzuki</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Toshio</td><td>Suzuki</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Toranosuke</td><td>Takagi</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Noritake</td><td>Takahara</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Kunimitsu</td><td>Takahashi</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr>
<tr><td>Sakon</td><td>Yamamoto</td><td><a href="/f1/countries/japan">Japan</a></td><td>🇯🇵</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Surname</b></td><td><b>Country</b></td><td><b>Flag</b></td></tr><tr><td><b>Row Count</b></td><td></td><td></td><td></td></tr><tr><td><b>Total Sum</b></td><td></td><td></td><td></td></tr><tr><td><b>Mean μ (Average)</b></td><td></td><td></td><td></td></tr><tr><td><b>Maximum</b></td><td></td><td></td><td></td></tr><tr><td><b>75th Percentile</b></td><td></td><td></td><td></td></tr><tr><td><b>Median</b></td><td></td><td></td><td></td></tr><tr><td><b>25th Percentile</b></td><td></td><td></td><td></td></tr><tr><td><b>Minimum</b></td><td></td><td></td><td></td></tr><tr><td><b>Variance</b></td><td></td><td></td><td></td></tr><tr><td><b>Standard Deviation σ</b></td><td></td><td></td><td></td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
