---
title: Number of Wins by Grid Position at Circuit Mont-Tremblant
layout: page
collectionName: circuits
collectionId: tremblant
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<canvas id="chart" width="400" height="180"></canvas>
<script>
var data = {
  "labels" : [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7",
    "8",
    "9",
    "10",
    "11",
    "12",
    "13",
    "14",
    "15",
    "16",
    "17",
    "18",
    "19",
    "20"
  ],
  "datasets" : [
    {
      "label" : "Number Of Wins",
      "data" : [
        0,
        1,
        0,
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0
      ],
      "borderColor" : [
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E"
      ],
      "borderWidth" : 1,
      "backgroundColor" : [
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D"
      ]
    }
  ]
};
var options = {
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      ticks: {
        beginAtZero: true,
        maxRotation: 180,
        display: window.innerWidth > 800
      }
    }],
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  onResize: function(chart, size) {
    chart.options.scales.xAxes[0].ticks.display = size.width > 800;
  }
};
var chart = new Chart("chart", {
    data: data,
    type: 'bar',
    options: options
});
</script>



<h3>Data Table</h3>

<table>
<tr><th>Grid Position</th><th>Number Of Wins</th></tr>
<tr><td>1</td><td>0</td></tr>
<tr><td>2</td><td>1</td></tr>
<tr><td>3</td><td>0</td></tr>
<tr><td>4</td><td>0</td></tr>
<tr><td>5</td><td>0</td></tr>
<tr><td>6</td><td>1</td></tr>
<tr><td>7</td><td>0</td></tr>
<tr><td>8</td><td>0</td></tr>
<tr><td>9</td><td>0</td></tr>
<tr><td>10</td><td>0</td></tr>
<tr><td>11</td><td>0</td></tr>
<tr><td>12</td><td>0</td></tr>
<tr><td>13</td><td>0</td></tr>
<tr><td>14</td><td>0</td></tr>
<tr><td>15</td><td>0</td></tr>
<tr><td>16</td><td>0</td></tr>
<tr><td>17</td><td>0</td></tr>
<tr><td>18</td><td>0</td></tr>
<tr><td>19</td><td>0</td></tr>
<tr><td>20</td><td>0</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Number Of Wins</b></td></tr><tr><td><b>Row Count</b></td><td>20</td></tr><tr><td><b>Total Sum</b></td><td>2.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>0.100</td></tr><tr><td><b>Maximum</b></td><td>1.000</td></tr><tr><td><b>75th Percentile</b></td><td></td></tr><tr><td><b>Median</b></td><td></td></tr><tr><td><b>25th Percentile</b></td><td></td></tr><tr><td><b>Minimum</b></td><td></td></tr><tr><td><b>Variance</b></td><td>0.090</td></tr><tr><td><b>Standard Deviation σ</b></td><td>0.300</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>

