---
title: Rank of Formula 1® Drivers by Number of Podiums at Circuit Gilles Villeneuve
layout: page
collectionName: circuits
collectionId: villeneuve
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<canvas id="chart" width="400" height="180"></canvas>
<script>
var data = {
  "labels" : [
    "Michael Schumacher",
    "Lewis Hamilton",
    "Alain Prost",
    "Jean Alesi",
    "Nelson Piquet",
    "Rubens Barrichello",
    "Giancarlo Fisichella",
    "Sebastian Vettel",
    "Damon Hill",
    "Eddie Irvine",
    "Fernando Alonso",
    "Gilles Villeneuve",
    "Jenson Button",
    "Riccardo Patrese",
    "Valtteri Bottas",
    "Alan Jones",
    "Ayrton Senna",
    "Carlos Reutemann",
    "Daniel Ricciardo",
    "David Coulthard",
    "John Watson",
    "Kimi Räikkönen",
    "Mika Häkkinen",
    "Nick Heidfeld",
    "Nico Rosberg",
    "Nigel Mansell",
    "Ralf Schumacher",
    "Thierry Boutsen",
    "Alexander Wurz",
    "Andrea de Cesaris",
    "Clay Regazzoni",
    "Didier Pironi",
    "Eddie Cheever",
    "Gerhard Berger",
    "Jacques Laffite",
    "Jacques Villeneuve",
    "Jody Scheckter",
    "Juan Pablo Montoya",
    "Mark Webber",
    "Michele Alboreto",
    "Niki Lauda",
    "Patrick Tambay",
    "René Arnoux",
    "Robert Kubica",
    "Romain Grosjean",
    "Sergio Pérez",
    "Stefan Johansson",
    "Stefano Modena"
  ],
  "datasets" : [
    {
      "label" : "Number Of Podiums",
      "data" : [
        12,
        7,
        5,
        5,
        5,
        5,
        4,
        4,
        3,
        3,
        3,
        3,
        3,
        3,
        3,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        2,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1,
        1
      ],
      "borderColor" : [
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E"
      ],
      "borderWidth" : 1,
      "backgroundColor" : [
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D"
      ]
    }
  ]
};
var options = {
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      ticks: {
        beginAtZero: true,
        maxRotation: 180,
        display: window.innerWidth > 800
      }
    }],
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  onResize: function(chart, size) {
    chart.options.scales.xAxes[0].ticks.display = size.width > 800;
  }
};
var chart = new Chart("chart", {
    data: data,
    type: 'bar',
    options: options
});
</script>



<h3>Data Table</h3>

<table>
<tr><th>#</th><th>Driver</th><th>Number Of Podiums</th></tr>
<tr><td>1.</td><td><a href="/f1/drivers/michael_schumacher">Michael Schumacher 🇩🇪</a></td><td>12</td></tr>
<tr><td>2.</td><td><a href="/f1/drivers/hamilton">Lewis Hamilton 🇬🇧</a></td><td>7</td></tr>
<tr><td>3.</td><td><a href="/f1/drivers/prost">Alain Prost 🇫🇷</a></td><td>5</td></tr>
<tr><td>4.</td><td><a href="/f1/drivers/alesi">Jean Alesi 🇫🇷</a></td><td>5</td></tr>
<tr><td>5.</td><td><a href="/f1/drivers/piquet">Nelson Piquet 🇧🇷</a></td><td>5</td></tr>
<tr><td>6.</td><td><a href="/f1/drivers/barrichello">Rubens Barrichello 🇧🇷</a></td><td>5</td></tr>
<tr><td>7.</td><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>4</td></tr>
<tr><td>8.</td><td><a href="/f1/drivers/vettel">Sebastian Vettel 🇩🇪</a></td><td>4</td></tr>
<tr><td>9.</td><td><a href="/f1/drivers/damon_hill">Damon Hill 🇬🇧</a></td><td>3</td></tr>
<tr><td>10.</td><td><a href="/f1/drivers/irvine">Eddie Irvine 🇬🇧</a></td><td>3</td></tr>
<tr><td>11.</td><td><a href="/f1/drivers/alonso">Fernando Alonso 🇪🇸</a></td><td>3</td></tr>
<tr><td>12.</td><td><a href="/f1/drivers/gilles_villeneuve">Gilles Villeneuve 🇨🇦</a></td><td>3</td></tr>
<tr><td>13.</td><td><a href="/f1/drivers/button">Jenson Button 🇬🇧</a></td><td>3</td></tr>
<tr><td>14.</td><td><a href="/f1/drivers/patrese">Riccardo Patrese 🇮🇹</a></td><td>3</td></tr>
<tr><td>15.</td><td><a href="/f1/drivers/bottas">Valtteri Bottas 🇫🇮</a></td><td>3</td></tr>
<tr><td>16.</td><td><a href="/f1/drivers/jones">Alan Jones 🇦🇺</a></td><td>2</td></tr>
<tr><td>17.</td><td><a href="/f1/drivers/senna">Ayrton Senna 🇧🇷</a></td><td>2</td></tr>
<tr><td>18.</td><td><a href="/f1/drivers/reutemann">Carlos Reutemann 🇦🇷</a></td><td>2</td></tr>
<tr><td>19.</td><td><a href="/f1/drivers/ricciardo">Daniel Ricciardo 🇦🇺</a></td><td>2</td></tr>
<tr><td>20.</td><td><a href="/f1/drivers/coulthard">David Coulthard 🇬🇧</a></td><td>2</td></tr>
<tr><td>21.</td><td><a href="/f1/drivers/watson">John Watson 🇬🇧</a></td><td>2</td></tr>
<tr><td>22.</td><td><a href="/f1/drivers/raikkonen">Kimi Räikkönen 🇫🇮</a></td><td>2</td></tr>
<tr><td>23.</td><td><a href="/f1/drivers/hakkinen">Mika Häkkinen 🇫🇮</a></td><td>2</td></tr>
<tr><td>24.</td><td><a href="/f1/drivers/heidfeld">Nick Heidfeld 🇩🇪</a></td><td>2</td></tr>
<tr><td>25.</td><td><a href="/f1/drivers/rosberg">Nico Rosberg 🇩🇪</a></td><td>2</td></tr>
<tr><td>26.</td><td><a href="/f1/drivers/mansell">Nigel Mansell 🇬🇧</a></td><td>2</td></tr>
<tr><td>27.</td><td><a href="/f1/drivers/ralf_schumacher">Ralf Schumacher 🇩🇪</a></td><td>2</td></tr>
<tr><td>28.</td><td><a href="/f1/drivers/boutsen">Thierry Boutsen 🇧🇪</a></td><td>2</td></tr>
<tr><td>29.</td><td><a href="/f1/drivers/wurz">Alexander Wurz 🇦🇹</a></td><td>1</td></tr>
<tr><td>30.</td><td><a href="/f1/drivers/cesaris">Andrea de Cesaris 🇮🇹</a></td><td>1</td></tr>
<tr><td>31.</td><td><a href="/f1/drivers/regazzoni">Clay Regazzoni 🇨🇭</a></td><td>1</td></tr>
<tr><td>32.</td><td><a href="/f1/drivers/pironi">Didier Pironi 🇫🇷</a></td><td>1</td></tr>
<tr><td>33.</td><td><a href="/f1/drivers/cheever">Eddie Cheever 🇺🇸</a></td><td>1</td></tr>
<tr><td>34.</td><td><a href="/f1/drivers/berger">Gerhard Berger 🇦🇹</a></td><td>1</td></tr>
<tr><td>35.</td><td><a href="/f1/drivers/laffite">Jacques Laffite 🇫🇷</a></td><td>1</td></tr>
<tr><td>36.</td><td><a href="/f1/drivers/villeneuve">Jacques Villeneuve 🇨🇦</a></td><td>1</td></tr>
<tr><td>37.</td><td><a href="/f1/drivers/scheckter">Jody Scheckter 🇿🇦</a></td><td>1</td></tr>
<tr><td>38.</td><td><a href="/f1/drivers/montoya">Juan Pablo Montoya 🇨🇴</a></td><td>1</td></tr>
<tr><td>39.</td><td><a href="/f1/drivers/webber">Mark Webber 🇦🇺</a></td><td>1</td></tr>
<tr><td>40.</td><td><a href="/f1/drivers/alboreto">Michele Alboreto 🇮🇹</a></td><td>1</td></tr>
<tr><td>41.</td><td><a href="/f1/drivers/lauda">Niki Lauda 🇦🇹</a></td><td>1</td></tr>
<tr><td>42.</td><td><a href="/f1/drivers/tambay">Patrick Tambay 🇫🇷</a></td><td>1</td></tr>
<tr><td>43.</td><td><a href="/f1/drivers/arnoux">René Arnoux 🇫🇷</a></td><td>1</td></tr>
<tr><td>44.</td><td><a href="/f1/drivers/kubica">Robert Kubica 🇵🇱</a></td><td>1</td></tr>
<tr><td>45.</td><td><a href="/f1/drivers/grosjean">Romain Grosjean 🇫🇷</a></td><td>1</td></tr>
<tr><td>46.</td><td><a href="/f1/drivers/perez">Sergio Pérez 🇲🇽</a></td><td>1</td></tr>
<tr><td>47.</td><td><a href="/f1/drivers/johansson">Stefan Johansson 🇸🇪</a></td><td>1</td></tr>
<tr><td>48.</td><td><a href="/f1/drivers/modena">Stefano Modena 🇮🇹</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Number Of Podiums</b></td></tr><tr><td><b>Row Count</b></td><td>48</td></tr><tr><td><b>Total Sum</b></td><td>114.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>2.375</td></tr><tr><td><b>Maximum</b></td><td>12.000</td></tr><tr><td><b>75th Percentile</b></td><td>3.000</td></tr><tr><td><b>Median</b></td><td>2.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>3.943</td></tr><tr><td><b>Standard Deviation σ</b></td><td>1.986</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>

