---
title: List of All Formula 1® Drivers that Have Raced at Albert Park Grand Prix Circuit
layout: page
collectionName: circuits
collectionId: albert_park
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<table>
<tr><th>Driver</th><th>Times</th></tr>
<tr><td><a href="/f1/drivers/button">Jenson Button 🇬🇧</a></td><td>17</td></tr>
<tr><td><a href="/f1/drivers/barrichello">Rubens Barrichello 🇧🇷</a></td><td>16</td></tr>
<tr><td><a href="/f1/drivers/massa">Felipe Massa 🇧🇷</a></td><td>15</td></tr>
<tr><td><a href="/f1/drivers/alonso">Fernando Alonso 🇪🇸</a></td><td>15</td></tr>
<tr><td><a href="/f1/drivers/trulli">Jarno Trulli 🇮🇹</a></td><td>15</td></tr>
<tr><td><a href="/f1/drivers/raikkonen">Kimi Räikkönen 🇫🇮</a></td><td>15</td></tr>
<tr><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>14</td></tr>
<tr><td><a href="/f1/drivers/michael_schumacher">Michael Schumacher 🇩🇪</a></td><td>14</td></tr>
<tr><td><a href="/f1/drivers/coulthard">David Coulthard 🇬🇧</a></td><td>13</td></tr>
<tr><td><a href="/f1/drivers/webber">Mark Webber 🇦🇺</a></td><td>12</td></tr>
<tr><td><a href="/f1/drivers/hamilton">Lewis Hamilton 🇬🇧</a></td><td>11</td></tr>
<tr><td><a href="/f1/drivers/heidfeld">Nick Heidfeld 🇩🇪</a></td><td>11</td></tr>
<tr><td><a href="/f1/drivers/rosberg">Nico Rosberg 🇩🇪</a></td><td>11</td></tr>
<tr><td><a href="/f1/drivers/ralf_schumacher">Ralf Schumacher 🇩🇪</a></td><td>11</td></tr>
<tr><td><a href="/f1/drivers/villeneuve">Jacques Villeneuve 🇨🇦</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/vettel">Sebastian Vettel 🇩🇪</a></td><td>10</td></tr>
<tr><td><a href="/f1/drivers/frentzen">Heinz-Harald Frentzen 🇩🇪</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/panis">Olivier Panis 🇫🇷</a></td><td>8</td></tr>
<tr><td><a href="/f1/drivers/sutil">Adrian Sutil 🇩🇪</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/irvine">Eddie Irvine 🇬🇧</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/hulkenberg">Nico Hülkenberg 🇩🇪</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/perez">Sergio Pérez 🇲🇽</a></td><td>7</td></tr>
<tr><td><a href="/f1/drivers/ricciardo">Daniel Ricciardo 🇦🇺</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/kovalainen">Heikki Kovalainen 🇫🇮</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/alesi">Jean Alesi 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/montoya">Juan Pablo Montoya 🇨🇴</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/hakkinen">Mika Häkkinen 🇫🇮</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/grosjean">Romain Grosjean 🇫🇷</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/sato">Takuma Sato 🇯🇵</a></td><td>6</td></tr>
<tr><td><a href="/f1/drivers/herbert">Johnny Herbert 🇬🇧</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/verstappen">Jos Verstappen 🇳🇱</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/salo">Mika Salo 🇫🇮</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/maldonado">Pastor Maldonado 🇻🇪</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/rosa">Pedro de la Rosa 🇪🇸</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/diniz">Pedro Diniz 🇧🇷</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/glock">Timo Glock 🇩🇪</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/bottas">Valtteri Bottas 🇫🇮</a></td><td>5</td></tr>
<tr><td><a href="/f1/drivers/wurz">Alexander Wurz 🇦🇹</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/damon_hill">Damon Hill 🇬🇧</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/kvyat">Daniil Kvyat 🇷🇺</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/kobayashi">Kamui Kobayashi 🇯🇵</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/kevin_magnussen">Kevin Magnussen 🇩🇰</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/ericsson">Marcus Ericsson 🇸🇪</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/kubica">Robert Kubica 🇵🇱</a></td><td>4</td></tr>
<tr><td><a href="/f1/drivers/sainz">Carlos Sainz 🇪🇸</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/klien">Christian Klien 🇦🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/albers">Christijan Albers 🇳🇱</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/gutierrez">Esteban Gutiérrez 🇲🇽</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/vergne">Jean-Éric Vergne 🇫🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/max_verstappen">Max Verstappen 🇳🇱</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/resta">Paul di Resta 🇬🇧</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/rosset">Ricardo Rosset 🇧🇷</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/buemi">Sébastien Buemi 🇨🇭</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/petrov">Vitaly Petrov 🇷🇺</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/liuzzi">Vitantonio Liuzzi 🇮🇹</a></td><td>3</td></tr>
<tr><td><a href="/f1/drivers/davidson">Anthony Davidson 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bruno_senna">Bruno Senna 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/pic">Charles Pic 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/matta">Cristiano da Matta 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bernoldi">Enrique Bernoldi 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nasr">Felipe Nasr 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/mazzacane">Gastón Mazzacane 🇦🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/berger">Gerhard Berger 🇦🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/alguersuari">Jaime Alguersuari 🇪🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/magnussen">Jan Magnussen 🇩🇰</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/jolyon_palmer">Jolyon Palmer 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/jules_bianchi">Jules Bianchi 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nakajima">Kazuki Nakajima 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/badoer">Luca Badoer 🇮🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/gene">Marc Gené 🇪🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/chilton">Max Chilton 🇬🇧</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/karthikeyan">Narain Karthikeyan 🇮🇳</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/piquet_jr">Nelson Piquet Jr. 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/zonta">Ricardo Zonta 🇧🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/speed">Scott Speed 🇺🇸</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/bourdais">Sébastien Bourdais 🇫🇷</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/nakano">Shinji Nakano 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/monteiro">Tiago Monteiro 🇵🇹</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/takagi">Toranosuke Takagi 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/katayama">Ukyo Katayama 🇯🇵</a></td><td>2</td></tr>
<tr><td><a href="/f1/drivers/zanardi">Alessandro Zanardi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/yoong">Alex Yoong 🇲🇾</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/mcnish">Allan McNish 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/montermini">Andrea Montermini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/giovinazzi">Antonio Giovinazzi 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pizzonia">Antônio Pizzonia 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ocon">Esteban Ocon 🇫🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/tuero">Esteban Tuero 🇦🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/bruni">Gianmaria Bruni 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/garde">Giedo van der Garde 🇳🇱</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/pantano">Giorgio Pantano 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ambrosio">Jérôme d'Ambrosio 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wilson">Justin Wilson 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/chandhok">Karun Chandhok 🇮🇳</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/stroll">Lance Stroll 🇨🇦</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/grassi">Lucas di Grassi 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/burti">Luciano Burti 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/brundle">Martin Brundle 🇬🇧</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/larini">Nicola Larini 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/wehrlein">Pascal Wehrlein 🇩🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/friesacher">Patrick Friesacher 🇦🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/lamy">Pedro Lamy 🇵🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/firman">Ralph Firman 🇮🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/haryanto">Rio Haryanto 🇮🇩</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/vandoorne">Stoffel Vandoorne 🇧🇪</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/marques">Tarso Marques 🇧🇷</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/sospiri">Vincenzo Sospiri 🇮🇹</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/ide">Yuji Ide 🇯🇵</a></td><td>1</td></tr>
<tr><td><a href="/f1/drivers/baumgartner">Zsolt Baumgartner 🇭🇺</a></td><td>1</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Times</b></td></tr><tr><td><b>Row Count</b></td><td>109</td></tr><tr><td><b>Total Sum</b></td><td>476.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>4.367</td></tr><tr><td><b>Maximum</b></td><td>17.000</td></tr><tr><td><b>75th Percentile</b></td><td>6.000</td></tr><tr><td><b>Median</b></td><td>3.000</td></tr><tr><td><b>25th Percentile</b></td><td>1.000</td></tr><tr><td><b>Minimum</b></td><td>1.000</td></tr><tr><td><b>Variance</b></td><td>17.168</td></tr><tr><td><b>Standard Deviation σ</b></td><td>4.143</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>
