---
title: Rank of Formula 1® Drivers by Number of Laps Led at Albert Park Grand Prix Circuit
layout: page
collectionName: circuits
collectionId: albert_park
---

{% assign url_split = page.url | split: "/" %}
<div id="collection-navigation">
<button onclick="selector.options[selector.selectedIndex-1].value && (window.location = selector.options[selector.selectedIndex-1].value);">&lt; Prev</button>
<button onclick="selector.options[selector.selectedIndex+1].value && (window.location = selector.options[selector.selectedIndex+1].value);">Next &gt;</button>
<select id="selector" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for collectionId in site.data[page.collectionName].refs %}
    {% if collectionId == page.collectionId %}
      {% assign selected = "selected" %}
    {% else %}
      {% assign selected = "" %}
    {% endif %}
    {% assign profile = site.data[page.collectionName][collectionId].profile %}
    <option value="/f1/{{ page.collectionName }}/{{ collectionId }}/{{ url_split[4] }}" {{ selected }}>{{ profile.collection_name }}</option>
  {% endfor %}
</select>
</div>

<canvas id="chart" width="400" height="180"></canvas>
<script>
var data = {
  "labels" : [
    "Michael Schumacher",
    "Sebastian Vettel",
    "Jenson Button",
    "Lewis Hamilton",
    "Kimi Räikkönen",
    "Nico Rosberg",
    "David Coulthard",
    "Mika Häkkinen",
    "Fernando Alonso",
    "Giancarlo Fisichella",
    "Jacques Villeneuve",
    "Eddie Irvine",
    "Heinz-Harald Frentzen",
    "Juan Pablo Montoya",
    "Adrian Sutil",
    "Damon Hill",
    "Heikki Kovalainen",
    "Mark Webber",
    "Felipe Massa",
    "Rubens Barrichello",
    "Valtteri Bottas"
  ],
  "datasets" : [
    {
      "label" : "Number Of Laps Led",
      "data" : [
        198,
        154,
        150,
        134,
        100,
        83,
        80,
        72,
        61,
        54,
        50,
        40,
        30,
        26,
        11,
        8,
        8,
        4,
        3,
        2,
        2
      ],
      "borderColor" : [
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E",
        "#1D181E"
      ],
      "borderWidth" : 1,
      "backgroundColor" : [
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D",
        "#9C8E8D"
      ]
    }
  ]
};
var options = {
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      ticks: {
        beginAtZero: true,
        maxRotation: 180,
        display: window.innerWidth > 800
      }
    }],
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  onResize: function(chart, size) {
    chart.options.scales.xAxes[0].ticks.display = size.width > 800;
  }
};
var chart = new Chart("chart", {
    data: data,
    type: 'bar',
    options: options
});
</script>



<h3>Data Table</h3>

<table>
<tr><th>#</th><th>Driver</th><th>Number Of Laps Led</th></tr>
<tr><td>1.</td><td><a href="/f1/drivers/michael_schumacher">Michael Schumacher 🇩🇪</a></td><td>198</td></tr>
<tr><td>2.</td><td><a href="/f1/drivers/vettel">Sebastian Vettel 🇩🇪</a></td><td>154</td></tr>
<tr><td>3.</td><td><a href="/f1/drivers/button">Jenson Button 🇬🇧</a></td><td>150</td></tr>
<tr><td>4.</td><td><a href="/f1/drivers/hamilton">Lewis Hamilton 🇬🇧</a></td><td>134</td></tr>
<tr><td>5.</td><td><a href="/f1/drivers/raikkonen">Kimi Räikkönen 🇫🇮</a></td><td>100</td></tr>
<tr><td>6.</td><td><a href="/f1/drivers/rosberg">Nico Rosberg 🇩🇪</a></td><td>83</td></tr>
<tr><td>7.</td><td><a href="/f1/drivers/coulthard">David Coulthard 🇬🇧</a></td><td>80</td></tr>
<tr><td>8.</td><td><a href="/f1/drivers/hakkinen">Mika Häkkinen 🇫🇮</a></td><td>72</td></tr>
<tr><td>9.</td><td><a href="/f1/drivers/alonso">Fernando Alonso 🇪🇸</a></td><td>61</td></tr>
<tr><td>10.</td><td><a href="/f1/drivers/fisichella">Giancarlo Fisichella 🇮🇹</a></td><td>54</td></tr>
<tr><td>11.</td><td><a href="/f1/drivers/villeneuve">Jacques Villeneuve 🇨🇦</a></td><td>50</td></tr>
<tr><td>12.</td><td><a href="/f1/drivers/irvine">Eddie Irvine 🇬🇧</a></td><td>40</td></tr>
<tr><td>13.</td><td><a href="/f1/drivers/frentzen">Heinz-Harald Frentzen 🇩🇪</a></td><td>30</td></tr>
<tr><td>14.</td><td><a href="/f1/drivers/montoya">Juan Pablo Montoya 🇨🇴</a></td><td>26</td></tr>
<tr><td>15.</td><td><a href="/f1/drivers/sutil">Adrian Sutil 🇩🇪</a></td><td>11</td></tr>
<tr><td>16.</td><td><a href="/f1/drivers/damon_hill">Damon Hill 🇬🇧</a></td><td>8</td></tr>
<tr><td>17.</td><td><a href="/f1/drivers/kovalainen">Heikki Kovalainen 🇫🇮</a></td><td>8</td></tr>
<tr><td>18.</td><td><a href="/f1/drivers/webber">Mark Webber 🇦🇺</a></td><td>4</td></tr>
<tr><td>19.</td><td><a href="/f1/drivers/massa">Felipe Massa 🇧🇷</a></td><td>3</td></tr>
<tr><td>20.</td><td><a href="/f1/drivers/barrichello">Rubens Barrichello 🇧🇷</a></td><td>2</td></tr>
<tr><td>21.</td><td><a href="/f1/drivers/bottas">Valtteri Bottas 🇫🇮</a></td><td>2</td></tr></table>

<h4>Statistic Summary</h4>

<table><tr><td><b>Column</b></td><td><b>Number Of Laps Led</b></td></tr><tr><td><b>Row Count</b></td><td>21</td></tr><tr><td><b>Total Sum</b></td><td>1270.000</td></tr><tr><td><b>Mean μ (Average)</b></td><td>60.476</td></tr><tr><td><b>Maximum</b></td><td>198.000</td></tr><tr><td><b>75th Percentile</b></td><td>83.000</td></tr><tr><td><b>Median</b></td><td>50.000</td></tr><tr><td><b>25th Percentile</b></td><td>8.000</td></tr><tr><td><b>Minimum</b></td><td>2.000</td></tr><tr><td><b>Variance</b></td><td>3220.916</td></tr><tr><td><b>Standard Deviation σ</b></td><td>56.753</td></tr></table>

Download data:
<a href="{{ page.url | replace:'.html','.json' }}">json</a>,
<a href="{{ page.url | replace:'.html','.csv' }}">csv</a>

